<div class="container">
    <h2>Actualizar Persona</h2>
    <form (ngSubmit)="onActualizarPersona()" #actualizarForm="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" required [(ngModel)]="persona.nombre" name="nombre">
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" required [(ngModel)]="persona.apellido" name="apellido">
      </div>
      <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" class="form-control" id="edad" required [(ngModel)]="persona.edad" name="edad">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!actualizarForm.form.valid">Actualizar</button>
    </form>
  </div>
  